{% if site.disqus_shortname and page.comments %}

    <hr/>
    <p>Comments <strong>on the content</strong> of this page that might be
    useful for other readers are welcomed here. For
    <strong>questions and general support</strong>, please use the project
    <strong>GitHub Discussions</strong> pages.
    </p>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_config = function () {
            this.page.url = '{{ site.baseurl }}';  // Your page's canonical URL variable
            this.page.identifier = '{{ page.url }}'; // Your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://xpack.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}
